
#encrypted-correspondence {
  line-height: 100%;
}
#chat-initiated {
  color: #AAA;
  font-size: 130%;
  padding-bottom: 10px;
}

.chat {
  color: #EEE;
  padding-top: 1px;
  padding-bottom: 1px;
}

.chat i {
  font-style: italic;
}

.chat .username, .chat .chat-bacon, .chat .chat-mayor {
  margin: 0px;
}

.chat .chat-bacon-hide {
  visibility: hidden;
  opacity: 0;
  margin-left: 0%;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear, margin-left 0.5s linear;
}

.chat .chat-bacon-show {
  visibility: visible;
  opacity: 1;
  margin-left: 5%;
  transition-delay: 0.5s;
}
